.newsletter__group {
  text-align: center;
  & input {
    border: 0;
    width: 50%;
    height: 4vh;
    @include respond-to('sm') {
      height: 4vh;
    }
    @include respond-to('md') {
      height: 4vh;
    }
    @include respond-to('lg') {
      height: 2vh;
    }
  }
  &--button {
    background-color: coral;
    color: white;
    border: 0;
    padding: .3em;
    font-size: 1.2em;
  }
}