// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)

/*@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/

$min-xs: 1px;
$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;
$min-xxl: 1400px;
// $max-xs: 575px;
// $max-sm: 767px;
// $max-md: 991px;
// $max-lg: 1199px;
// $max-xl: 1399px;
// $max-xxl: 1800px;
$breakpoints: ( 'xs': (min-width: $min-xs), 'sm': (min-width: $min-sm), 'md': (min-width: $min-md), 'lg': (min-width: $min-lg), 'xl': (min-width: $min-xl), 'xxl': (min-width: $min-xxl)) !default;

/*$breakpoints: (
    'xs' : (max-width: $max-xs),
    'sm' : (max-width: $max-sm),
    'md' : (max-width: $max-md),
    'lg' : (max-width: $max-lg),
    'xl' : (max-width: $max-xl),
    'xxl': (min-width: $min-xxl)

) !default;*/