.main-content {
  width: 100%;
  margin: 0;
  .news-list {
    width: 100%;
    &__article {
      width: 100%;
      display: inline-block;
      cursor: pointer;
      padding: 0 .5rem;
      margin: 1rem;
      @include respond-to('lg') {
        padding: 1.5rem 1rem;
      }
    }
    &__header {
      font-weight: bold;
      font-size: 2rem;
      padding: 1rem 0;
      @include respond-to('lg') {
        font-size: 1.2rem;
      }
    }
    &__body {
      &--image {
        width: 85vw;
        height: 10em;
        margin-right: 2rem;
        @include respond-to('md') {
          width: 75vw;
          height: 8em;
        }
        @include respond-to('lg') {
          width: 50vw;
          height: 20em;
        }
      }
      &--paragraph {
        font-weight: bold;
        padding: 1rem 0.625rem;
        font-size: 1rem;
        @include respond-to('lg') {
          font-size: 0.7rem;
          padding: 1rem 0;
        }
      }
    }
  }
}