.nav {
  box-sizing: border-box;
  width: 100%;
  padding: 1.5%;
  border-bottom: 1px solid gray;
  &__logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 1rem;
  }
  &__menu {
    text-align: right;
    @include respond-to('md') {
      padding-right: 1rem;
    }
    @include respond-to('lg') {
      padding-right: 1.5rem;
    }
  }
  &__items {
    box-sizing: border-box;
    padding: .5rem;
  }
  &__item {
    display: inline-block;
    font-size: .8rem;
    @include respond-to('md') {
      font-size: 1rem;
    }
    &:first-child {
      display: inline-block;
      display: none;
      @include respond-to('lg') {
        display: contents;
      }
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: steelblue;
    }
    .input-menu {
      border-radius: 20px;
      font-size: 1rem;
    }
  }
}

.nav.contenedor {
  background-color: white !important;
}